  <li id="dream-<%= dream.id %>">
          <div class="timeline-badge info"><p style = "margin:1px"><%= Date.parse(dream.date).strftime('%b %d') %></p>
            <p style = "margin:1px"><%= Date.parse(dream.date).strftime('%Y') %></p></div>
          <%#= dream.date %>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= link_to dream.name, dream %></h4>
            </div>
            <div class="timeline-body">
              <%= dream.content %>
              <div class="timestamp"><%= time_ago_in_words(dream.created_at) %> ago<br/>
              </div>
              <!--goal toggle-->
              <% if dream.goals.length>0 %>
               <div><a class="toggle-trigger">Show explicit goals</a></div>                
               <div class="toggle-wrap">
                <% dream.goals.each do |goal| %>
                <div class="style-single">
                  <ol id="goals">
                    <li>
                      <p><strong><%= goal.name %> by <%= goal.deadline %></strong></p>
                      <%= goal.content %>
                      <div class="timestamp"><%= time_ago_in_words(goal.created_at) %> ago<br/> 
                      <!--<div class="date"><%#= time_ago_in_words(goal.created_at) %></div>-->
                    </li>
                  </ol>
                </div>
                <%end%>
              </div>
              <%end%>
              
              <%= link_to dream do%> 
              <span class="glyphicon glyphicon-info-sign"></span>
              <%end%> 
             
              &nbsp;<%= link_to edit_dream_path(dream) do%> 
              <span class="glyphicon glyphicon-pencil"></span>
              <%end%> 
              <%#= link_to "Delete", dream, method: :delete,
                                           data: { confirm: "You sure?" } %>
              &nbsp;<%= link_to dream, method: :delete,
                                           data: { confirm: "You sure?" } do%>    
              <span class="glyphicon glyphicon-remove"></span>
              <%end%>
                                                                            
            </div>
          </div>
          
     </li>    

 
