  <li id="dream-<%= dream.id %>">
          <div class="timeline-badge info"><p style = "margin:1px"><%= Date.parse(dream.date).strftime('%b %d') %></p>
            <p style = "margin:1px"><%= Date.parse(dream.date).strftime('%Y') %></p></div>
          <%#= dream.date %>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= link_to dream.name, new_dream_path %></h4>
            </div>
            <div class="timeline-body">
              <p><%= dream.content %></p>
              <div class="timestamp"><%= time_ago_in_words(dream.created_at) %> ago<br/>
              </div>
              <!--goal toggle-->

               <div><a class="toggle-trigger">Show explicit goals</a></div>                
               <div class="toggle-wrap">
                <% dream.goals.each do |goal| %>
                <div class="style-single">
                  <ol id="goals">
                    <li>
                      <%= goal.content %> by <%= goal.deadline %>
                      <span class="date"><%= time_ago_in_words(goal.created_at) %> ago</span>
                    </li>
                  </ol>
                </div>
                <%end%>
              </div>
              <%= link_to "Create explicit plans", dream %>
              <%= link_to "Edit", edit_dream_path(dream) %>
              <%= link_to "Delete", dream, method: :delete,
                                           data: { confirm: "You sure?" } %>         
            </div>
          </div>
     </li>         
 
