<br/>
  <h2><%#= link_to @dream.user.name, @dream.user %>Start to create short-term goals for the dream <%= link_to @dream.name, dreams_path %> by <%= @dream.date %></h2><br/>
  <p>Dream: <%= @dream.name%></p>
  <p>Description: <%= @dream.content %></p>
  <p>Deadline: <%= @dream.date %></p>
  <span class="timestamp">
    Created <%= time_ago_in_words(@dream.created_at) %> ago.
  </span><br/>

<!--return to the former page which is dreams_path-->
<%= link_to dreams_path, class: "btn btn-primary" do%>
<i class="glyphicon glyphicon-arrow-left"></i> Back
<%end%>&nbsp;

<%= link_to dream_goals_path(@dream), class: "btn btn-primary" do%>
Create an explicit plan <i class="glyphicon glyphicon-arrow-right"></i>
<%end%>
