<div>
<%= render 'goals/form'%>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Goal</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Last Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dream.goals.each do |goal| %>
    <tr>
      <%#= link_to dream.user.name, dream.user %>
      <td><%= goal.name %></td>
      <td><%= goal.content %></td>
      <td><%= goal.deadline%></td>
      <td><%= time_ago_in_words(goal.created_at) unless goal.created_at.blank?%> ago</td>
      <%#= time_ago_in_words(goal.created_at)%>
      <%#= goal.created_at%>
      <!--eg. 2016-02-08 19:29:07 UTC -->
      <%#= time_ago_in_words(goal.created_at) unless goal.created_at.blank?%>
      <!-- eg. 2 hours ago-->
      <td><%= link_to "Show", '#' %></td>
      <td><%= link_to "Edit",  '#'%></td> <!--edit_goal_path(goal)-->
      <td><%= link_to "Delete", [goal.dream, goal], method: :delete,
                                           data: { confirm: "You sure?" } %></td>
    </tr>
  <% end %>
  </tbody>

</table>
</div>
<%#= will_paginate %>





