<% if logged_in? %>
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
         <section class="stats">
            <%= render 'shared/stats' %>
          </section>

          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>

        </aside>
        <div class="col-md-8">
          <h3>Micropost Feed</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
    <% else %>
      <div class="center jumbotron">
        <h1>Welcome to the FiveYears</h1>

        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      </div>

      <div id="myCarousel" class="carousel slide">
   <!-- （Carousel）indicator -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      
   </ol>   
   <!-- （Carousel）content-->
   <div class="carousel-inner">
      <div class="item active">
         <%= image_tag("003.jpg", alt:"First") %>
      </div>
      
      <div class="item">
         <%= image_tag("001.jpg") %>
      </div>
   </div>
   <!-- (Carousel）navigation -->
   <a class="carousel-control left" href="#myCarousel" 
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel" 
      data-slide="next">&rsaquo;</a>
</div> 

     

    <% end %>