<%= form_for(@micropost) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
      <%= f.label :Dream %>
  		<%= f.text_field :title, placeholder: "Compose a new title for your dream..." %>
  		
  		<%= f.label :Content %>
   	 	<%= f.text_area :content, placeholder: "Compose a new micropost to record your dream..." %>
      </div>
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>