<% if logged_in? %>
<br/>
<div class="row">
  <div class="col-md-9">
  
<%= link_to newmicropost_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
      <i class="glyphicon glyphicon-plus"></i> New Post
    <% end %><br/><br/>


<div class="field1">
  <%= render @microposts %>
</div>

<div class="load-more-container">
        
  <%= image_tag "refresh_animate.gif", style: "display:none;", class: "loading-image" %>
  <%= link_to "Load More", microposts_path, class: "load-more" %>
  
</div>
  
</div>
  
  <aside class="col-md-3">
    
    <div class="panel">
      <h4>Popular Tags</h4>
      <!--only show the top 10 tags in the tag panel using css to control their size-->
      
      
      <!--each time publish it to heroku, ignore cloud tag-->
    </div>
  </aside>
</div>
<script type="text/javascript">
$(document).ready(function () {
    // when clicking the load more link using jquery function
    $('a.load-more').click(function (e) {

        e.preventDefault();
        // hide link
        $('.load-more').hide();
        $('.loading-image').show();
        // get the last record id, store it in 'last-id'
        var last_id = $('.record').last().attr('data-id');

        // use ajax to call passing last user id
        $.ajax({

            type: "GET",
            // get the url of loaded data 
            url: $(this).attr('href'),
            // send the last id to our rails app
            data: {
                id: last_id
            },
            // script response 
            dataType: "script",
            // success result
            success: function () {
                //hide refresh image
                $('.loading-image').hide();
                // show link
                $('.load-more').show();
            }
        });

    });
});
</script>


<% else %>
      

<div class="center"> 
        <%= image_tag("008.png") %>
</div>
<br/>
<div class="center"> 
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

       
<% end %>

