 <section class="microposts">
  <%= link_to gravatar_for(@micropost.user, size: 50), @micropost.user %>
  <span class="user"><%= link_to @micropost.user.name, @micropost.user %></span>
  <span class="content"><%= @micropost.title %></span>
  <span class="content">
    <%= @micropost.content %>
    <%= image_tag @micropost.picture.url if @micropost.picture? %>
  </span>
  
 </section></br></br>



 <section class="comment">
 
  <p2>Comment <span class="badge"><%= @micropost.comments.count%></span></p2>
   <% @micropost.comments.each do |comment| %>
     <%= comment.user %></br>
     <%= comment.content %></br>
   <%end%>

 </section>
 
</br>

 <p>Reply to the post</p>
 <%= render 'comments/form'%>

 

<%=link_to "Edit", edit_micropost_path(@micropost)%>

<%=link_to "Home", root_path%>

<%= link_to "Delete", @micropost, method: :delete,
                                           data: { confirm: "You sure?" } %>

