 <header class="navbar navbar-fixed-top navbar-inverse navbar-custom ">
      <div class="container">
        <!--<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>-->
        <%= link_to "FiveYears ", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">

            <!--search function start --><!--new line-->
              <li>
                <%= form_tag(microposts_path, :method => "get", class: "navbar-form", id: "search-form") do %>

                <div class="input-group searchfield">
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search posts" %>
                  <span class="input-group-addon">
                  <i class="glyphicon glyphicon-search"></i>
                  </span>
                </div>
            <!-- In order to have the "search" icon in the button, we need to use plain HTML instead 
           of using a Rails form helper -->
                <!--<button type="submit">search</button>-->
                <% end %>
              </li>   

            
            <li><%= link_to "Home", root_path %></li>
            
            <% if logged_in? %>
              <!--<li><%= link_to current_user.name, current_user %></li>-->

              <li><%= link_to "Dreammaker", dreams_path %></li>
              <li><%= link_to "Users", users_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.name %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>

                  </li>
                </ul>
              </li>
            <% else %>
                <li><%= link_to "Sign up", signup_path %></li>
                <li><%= link_to "Log in", login_path %></li>
                
            <% end %>
          </ul>
        </nav>
      </div>
    </header>